.contacts-container {
  display: flex;
  flex-direction: row;
}

.contacts-list {
  width: 35%;
  height: 100vh;
  overflow: scroll;
}

.contacts-list-item {
  background: lightgray;
  border-top: 2px solid gray;
  display: flex;
  padding: 10px;
}

.contacts-list-item:hover {
  cursor: pointer;
}

.active {
  background: #f7bf17;
}

.contacts-list-item-right {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: space-around;
}

.contacts-list-item-name {
  font-size: 20px;
  font-weight: bold;
}

.contacts-detail-container {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
}

.contacts-detail-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 60%;
}

.contacts-detail-top-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 30px;
}

.address {
  display: flex;
  flex-direction: column;
}
