html, body, div, h1, h2, h3, h4, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  color: #555555;
  font-family: sans-serif;
  height: 100%;
	line-height: 1;
}

ol, ul {
	list-style: none;
}
