html, body, div, h2, h3, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  color: #555555;
  font-family: sans-serif;
  font-size: 18px;
  height: 100%;
	line-height: 1;
}

ol, ul {
	list-style: none;
}

h2 {
  font-weight: bold;
}

span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
